{% extends "base.html" %}
{%load static %}
{% block content %}
   <div class="content active">
  <div class="container-fluid">
    <div class="row">
      <div class="col p-5">


        <div class="container-fluid" id="block-content">
          <div class="row" id="rowid">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="card rounded">
                <div class="card-header">
                  <h3>Документы</h3>
                  <button type="button" class="btn btn-outline-primary dok-button">Добавить документ</button>
                </div>
                <div class="card-body card-body-alt dokumenti" >
                  <table class="table table-css">
                    <tbody>
                      {%for plan in plans%}
                      <tr>
                        <td style="border:0;width:35px;"><a href="{%url 'detail_plan' plan.prepod.user.username plan.year %} " ><img src="{% static "admin1/images/doc.png" %}" width="35px" height="35px"  alt=""></a></td>
                        <td style="border:0;vertical-align:middle;" valign="middle">{{plan.prepod.fullname}}</td>
                        <td style="border:0;vertical-align:middle;">{{plan.year}}</td>
                        <td style="border:0;text-align:right;vertical-align:middle;">
                        	<a href="" class="ml-1 btn btn-sm btn-light badge-pill"><img src="{% static "admin1/images/download.png" %}"></a>
                        </td>
                      </tr>

                      {%endfor%}

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card rounded">
                <div class="card-header">
                  <h3>Ваши рейтинги</h3>
                  <button type="button" class="btn btn-outline-primary dok-button">Сформировать рейтинг</button>
                </div>
                <div class="card-body card-body-alt dokumenti" >
                  <table class="table table-css">
                    <tbody>
                      {%for r in ratings%}
                      <tr>
                        <td style="border:0;width:35px;"><a href="{%url 'rate_otsenka' r.profile.user.username r.year %} " ><img src="{% static "admin1/images/graph.svg" %}" width="35px" height="35px"  alt=""></a></td>
                        <td style="border:0;vertical-align:middle;" valign="middle">{{r.profile.fullname}}</td>
                        <td style="border:0;vertical-align:middle;">{{r.year}}</td>
                        <td style="border:0;text-align:right;vertical-align:middle;">
                        	<a href="" class="ml-1 btn btn-sm btn-light badge-pill"><img src="{% static "admin1/images/download.png" %}"></a>
                        </td>
                      </tr>
                      {%endfor%}

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card rounded">
                <div class="card-header">
                  <h3>Документы кафедры</h3>
                  <button type="button" class="btn btn-outline-primary dok-button">Добавить документ</button>
                </div>
                <div class="card-body card-body-alt dokumenti" >
                  <table class="table table-css">
                    <tbody>
                       {%if profile.role == 2%}
                      {%for doc in nagruzkadocs%}
                      <tr>
                        <td style="border:0;width:35px;"><img src="{% static "admin1/images/docexel.png" %}" width="35px" height="35px"  alt=""></td>
                        <td style="border:0;vertical-align:middle;" valign="middle">{{doc.kafedra.fullname}}{{doc.status}}</td>
                        <td style="border:0;vertical-align:middle;">{{doc.year}}</td>
                        <td style="border:0;text-align:right;vertical-align:middle;">
                          <a href="" class="ml-1 btn btn-sm btn-light badge-pill"><img src="{% static "admin1/images/download.png" %}"></a>
                        </td>
                      </tr>
                      {%endfor%}
                      {%endif%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 ">
              <div class="row content-input">
                <div class="card rounded">
                   <form  action="{%url 'profileinfo'%}" method="post" class="shapka" id="qwewq">
                  {% csrf_token %}
                  <input type="hidden"name="profile"  value="{{profile1.user.username}}"><input type="hidden"name="year"  value="{{plan.year}}">
                <div class="card-header">
                  <h3>Информация об аккаунте</h3>
                  <button type="submit" class="btn btn-outline-primary dok-button">Сохранить изменения</button>
                </div>


                  <div class="block-content">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="firstName">Фио преподавателя</label>
                          {{infoform.fio}}
                        <div class="invalid-feedback">
                          Valid first name is required.
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="lastName">Должность</label>
                      {{infoform.dolznost}}
                        <div class="invalid-feedback">
                          Valid last name is required.
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="email">Кафедра</label>
                      {{infoform.kafedra}}
                    </div>
                    <div class="mb-3 row">
                      <div class="col">
                        <label for="address">Ставка</label>
                        {{infoform.stavka}}
                      </div>
                      <div class="col">
                        <label for="address">Ученая степень</label>
                       {{infoform.uchst}}
                      </div>
                      <div class="col">
                        <label for="address">Ученое звание</label>
                      {{infoform.uchzv}}
                      </div>
                      <div class="col">
                        <label for="address">Выслуга полных лет</label>
                       {{infoform.visluga}}
                      </div>
                    </div>
                  </div>
                </form>
                  </div>

              </div>
              <div class="card rounded">
                <div class="card-header">
                  <h3>Список сотрудников кафедры</h3>
                  <button type="button" class="btn btn-outline-primary dok-button">Добавить сотрудника</button>
                </div>
                <div class="card-body card-body-alt dokumenti">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                       <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>dfdfmdo</td>
                        <td>dfdfmdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fdffat</td>
                        <td>dfdfmdo</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>dftwitter</td>
                        <td>dfdfmdo</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
  
</div>
</div>
</div>
</div>
<script type="text/javascript">
function destroy()
{
    if (confirm("Bы уверены, что хотите удалить пользователя и все его данные?"))
    return true;
    else return false;
 }
</script>
{% endblock %}
