{% extends "base.html" %}
{%load static %}
{% block content %}
<link rel="stylesheet" href="{% static "/css/vuetify.min.css" %}" />
<link rel="stylesheet" href="{% static "/css/plan.css" %}" />
<link rel="stylesheet" href="{% static "/css/materialdesignicons.min.css" %}" />


<script src="{% static "/js/vue.js" %}"></script>
<script src="{% static "/js/axios.js" %}"></script>
<script src="{% static "/js/vuetify.js" %}"></script>
   <div class="content active">
  <div class="container-fluid" id="app" data-app>
    <div class="row">
      <div class="col p-5">


        <div class="container-fluid" id="block-content">
          <div class="row" id="rowid">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="card rounded card-height">
                <div class="card-header">
                  <h3>Индивидуальные планы</h3>
                  <!-- <button type="button" class="btn btn-outline-primary dok-button">Добавить ИП</button> -->

                  <v-menu
                    v-model="menu"
                    :close-on-content-click="false"
                    :nudge-width="100"
                    offset-x
                    left
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <button type="button" v-bind="attrs" v-on="on" class="btn btn-outline-primary dok-button">Добавить ИП</button>
                    </template>

                    <v-card>
                      <form>
                        {%csrf_token%}
                        <input type="hidden" value="{%csrf_token%}" v-model="token">
                      <v-list>
                        <v-list-item>

                          <v-list-item-action>
                            <v-text-field
                              solo
                              label="Введите год"
                              v-model="yearIP"
                              clearable
                              name="year"
                            ></v-text-field>
                          </v-list-item-action>
                        </v-list-item>
                      </v-list>
                      <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn text @click="menu = false">закрыть</v-btn>
                        <v-btn color="#007bff" text @click="addIP($event)">сохранить</v-btn>
                      </v-card-actions>
                    </form>
                    </v-card>
                  </v-menu>

                </div>
                <div class="card-body card-body-alt dokumenti" >
                  <table class="table table-css">
                    <tbody>
                      {%for plan in plans%}
                      <tr>
                        <td style="border:0;width:35px;"><a href="{%url 'detail_plan' plan.prepod.user.username plan.year %} " ><img src="{% static "admin1/images/doc.png" %}" width="35px" height="35px"  alt=""></a></td>
                        <td style="border:0;vertical-align:middle;" valign="middle">{{plan.prepod.fullname}}</td>
                        <td style="border:0;vertical-align:middle;">{{plan.year}}</td>
                        <td style="border:0;text-align:right;vertical-align:middle;">
                        	<a href="" class="ml-1 btn btn-sm btn-light badge-pill"><img src="{% static "admin1/images/download.png" %}"></a>
                        </td>
                      </tr>
                      {%endfor%}
                      <template v-for="item in items">
                        <tr>
                          <td style="border:0;width:35px;"><a v-bind:href="item.href" ><img src="/static/admin1/images/doc.png" width="35px" height="35px"  alt=""></a></td>
                          <td style="border:0;vertical-align:middle;" valign="middle">{{profile.fullname}}</td>
                          <td style="border:0;vertical-align:middle;">{item.year}</td>
                          <td style="border:0;text-align:right;vertical-align:middle;">
                            <a href="" class="ml-1 btn btn-sm btn-light badge-pill"><img src="/static/admin1/images/download.png"></a>
                          </td>
                        </tr>
                      </template>

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card rounded">
                <div class="card-header">
                  <h3>Рейтинги</h3>
                    <v-menu
                      v-model="menuRate"
                      :close-on-content-click="false"
                      :nudge-width="100"
                      offset-x
                      left
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <button type="button" v-bind="attrs" v-on="on" class="btn btn-outline-primary dok-button">Сформировать рейтинг</button>
                      </template>

                      <v-card>
                        <form>
                          {%csrf_token%}
                        <v-list>
                          <v-list-item>

                            <v-list-item-action>
                              <v-text-field
                                name="year"
                                solo
                                label="Введите год"
                                v-model="yearRate"
                                clearable
                              ></v-text-field>
                            </v-list-item-action>
                          </v-list-item>
                        </v-list>
                        <v-card-actions>
                          <v-spacer></v-spacer>

                          <v-btn text @click="menu = false">закрыть</v-btn>
                          <v-btn color="#007bff" text @click="addRate">сохранить</v-btn>
                        </v-card-actions>
                      </form>
                      </v-card>
                    </v-menu>
                </div>
                <div class="card-body card-body-alt dokumenti" >
                  <table class="table table-css">
                    <tbody>
                      {%for r in ratings%}
                      <tr>
                        <td style="border:0;width:35px;"><a href="{%url 'rate_otsenka' r.profile.user.username r.year %} " ><img src="{% static "admin1/images/graph.svg" %}" width="35px" height="35px"  alt=""></a></td>
                        <td style="border:0;vertical-align:middle;" valign="middle">{{r.profile.fullname}}</td>
                        <td style="border:0;vertical-align:middle;">{{r.year}}</td>
                        <td style="border:0;text-align:right;vertical-align:middle;">
                        	<a href="" class="ml-1 btn btn-sm btn-light badge-pill"><img src="{% static "admin1/images/download.png" %}"></a>
                        </td>
                      </tr>
                      {%endfor%}
                      <template v-for="item in itemsRate">
                        <tr>
                          <td style="border:0;width:35px;"><a v-bind:href="item.href" ><img src="/static/admin1/images/graph.svg" width="35px" height="35px"  alt=""></a></td>
                          <td style="border:0;vertical-align:middle;" valign="middle">{{profile.fullname}}</td>
                          <td style="border:0;vertical-align:middle;">{item.year}</td>
                          <td style="border:0;text-align:right;vertical-align:middle;">
                            <a href="" class="ml-1 btn btn-sm btn-light badge-pill"><img src="/static/admin1/images/download.png"></a>
                          </td>
                        </tr>
                      </template>

                    </tbody>
                  </table>
                </div>
              </div>
              {%if profile.role == 2 or profile.role == 3%}
              <div class="card rounded">
                <div class="card-header">
                  <h3>Документы кафедры</h3>
                  <v-menu
                    v-model="menuDoc"
                    :close-on-content-click="false"
                    :nudge-width="100"
                    offset-x
                    left
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <button type="button" v-bind="attrs" v-on="on" class="btn btn-outline-primary dok-button">Добавить документ</button>
                    </template>

                    <v-card>
                      <form>
                        {%csrf_token%}
                      <v-list>
                        <v-list-item>

                            <v-text-field
                              name="year"
                              label="Введите год"
                              clearable
                              v-model="yearDoc"
                            ></v-text-field>
                        </v-list-item>
                        <v-list-item>
                          <v-select
                            name="status"
                            :items="planfact"
                            label="Вид нагрузки"
                            v-model="plfa"
                          ></v-select>
                        </v-list-item>
                        <v-list-item>
                          <v-file-input name="document" accept=".xlsx" label="Файл .xlsx" prepend-icon=""></v-file-input>
                        </v-list-item>
                      </v-list>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn text @click="menuDoc = false">Закрыть</v-btn>
                        <v-btn color="#007bff" text @click="addDoc">Сохранить</v-btn>
                      </v-card-actions>
                    </form>
                    </v-card>
                  </v-menu>

                </div>
                <div class="card-body card-body-alt dokumenti" >
                  <table class="table table-css">
                    <tbody>
                       {%if profile.role == 2 or profile.role == 3%}
                      {%for doc in nagruzkadocs%}
                      <tr>
                        <td style="border:0;width:35px;"><img src="{% static "admin1/images/docexel.png" %}" width="35px" height="35px"  alt=""></td>
                        <td style="border:0;vertical-align:middle;" valign="middle">{{doc}}</td>
                        <td style="border:0;vertical-align:middle;">{{doc.year}}</td>
                        <td style="border:0;text-align:right;vertical-align:middle;">
                          <a href="" class="ml-1 btn btn-sm btn-light badge-pill"><img src="{% static "admin1/images/download.png" %}"></a>
                        </td>
                      </tr>
                      {%endfor%}
                      {%endif%}
                      <template v-for="item in itemsDoc">
                        <tr>
                          <td style="border:0;width:35px;"><img src="/static/admin1/images/docexel.png" width="35px" height="35px"  alt=""></td>
                          <td style="border:0;vertical-align:middle;" valign="middle">{item.kafname}</td>
                          <td style="border:0;vertical-align:middle;">{item.year}</td>
                          <td style="border:0;text-align:right;vertical-align:middle;">
                            <a href="" class="ml-1 btn btn-sm btn-light badge-pill"><img src="/static/admin1/images/download.png"></a>
                          </td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </div>
              </div>
              {%endif%}
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 ">
              <div class="row content-input">
                <div class="card rounded">
                   <form  action="{%url 'profileinfo'%}" method="post" class="shapka" id="qwewq">
                  {% csrf_token %}
                  <input type="hidden"name="profile"  value="{{profile1.user.username}}"><input type="hidden"name="year"  value="{{plan.year}}">
                <div class="card-header">
                  <h3>Информация об аккаунте</h3>
                  <button type="button" class="btn btn-outline-primary dok-button" @click="save($event)" :disabled="dis">{buttontext}</button>
                  <v-progress-circular v-if=dis indeterminate size="24"></v-progress-circular>
                </div>


                  <div class="block-content">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="firstName">Фио преподавателя</label>
                          {{infoform.fio}}
                        <div class="invalid-feedback">
                          Valid first name is required.
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="lastName">Должность</label>
                      {{infoform.dolznost}}
                        <div class="invalid-feedback">
                          Valid last name is required.
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="email">Кафедра</label>
                      {{infoform.kafedra}}
                    </div>
                    <div class="mb-3 row">
                      <div class="col">
                        <label for="address">Ставка</label>
                        {{infoform.stavka}}
                      </div>
                      <div class="col">
                        <label for="address">Ученая степень</label>
                       {{infoform.uchst}}
                      </div>
                      <div class="col">
                        <label for="address">Ученое звание</label>
                      {{infoform.uchzv}}
                      </div>
                      <div class="col">
                        <label for="address">Выслуга полных лет</label>
                       {{infoform.visluga}}
                      </div>
                    </div>
                  </div>
                </form>
                  </div>

              </div>
                {%if profile.role == 2 or profile.role == 3%}
              <div class="card rounded">
                <supertable></supertable>
              </div>
              {%endif%}
            </div>
      </div>
    </div>
  </div>

</div>
<v-snackbar
         v-model="snackbar"
         :timeout="timeout"
         >
         { text }

         <template v-slot:action="{ attrs }">
            <v-btn
               color="blue"
               text
               v-bind="attrs"
               @click="snackbar = false"
            >
               Закрыть
            </v-btn>
         </template>
      </v-snackbar>
        <v-dialog v-model="dialogredirect" persistent max-width="700px">
          <v-card>
            <v-card-title>
              <span class="headline">Перейти в:</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      label="Индивидальный план за"
                      rows="1"
                      :disabled="true"
                      :rounded="true"
                      auto-grow="true"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="3" md="3">
                    <v-select
                      :items="itemsIpYear"
                      label=""
                      @change="redtoIP($event)"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="3" md="3">
                    <v-text-field
                      label="год"
                      rows="1"
                      :disabled="true"
                      :rounded="true"
                      auto-grow="true"
                    ></v-text-field>
                    
                  </v-col>
                  
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      label="Рейтинги за"
                      rows="1"
                      :disabled="true"
                      :rounded="true"
                      auto-grow="true"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="3" md="3">
                    <v-select
                      :items="itemsRateYear"
                      label=""
                      @change="redtoRate($event)"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="3" md="3">
                    <v-text-field
                      label="год"
                      rows="1"
                      :disabled="true"
                      :rounded="true"
                      auto-grow="true"
                    ></v-text-field>
                    
                  </v-col>
                  
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="dialogredirect=false">Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <input type="hidden" value={{profile.kafedra.name}} id="kafname">
</div>
</div>
</div>
<script id='INLINE_PEN_JS_ID'>
Vue.component('supertable',{
  data: () => ({
    rulesLogin: [
      value => !!value || 'Required.',
      value => {
        const pattern = /^[а-яА-ЯёЁa-zA-Z0-9]+$/
        return pattern.test(value) || 'Только буквы или цифры'
      },
    ],
    rulesPassword: [
      value => !!value || 'Required.',
      value => {
        const pattern = /^[а-яА-ЯёЁa-zA-Z0-9]+$/
        return pattern.test(value) || 'Только буквы или цифры'
      },
    ],
    dialog: false,
    headers: [
      {
        text: 'ФИО',
        align: 'start',
        value: 'name',
      },
      { text: 'Действия', value: 'actions', sortable: false },
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      login: '',
      password: '',
    },
    defaultItem: {
      name: '',
      login: '',
      password: '',
    },
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    },
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
  },

  created () {
    this.initialize()
  },

  methods: {
    initialize () {
      console.log(this.$root.kafname)
      axios.get("http://127.0.0.1:8000/supertable/", {params: {"kafname":this.$root.kafname}}).then((response) => {
        this.desserts= response.data
        })
      // this.desserts = [
      //   {
      //     name: 'Ленин Владимир Ильич',
      //     login: 'asdasd',
      //     password: 'asd',
      //   },
      //   {
      //     name: 'Ice cream sandwich',
      //     login: 'asdasd',
      //     password: 'asd',
      //   },
      //   {
      //     name: 'Eclair',
      //     login: 'asdasd',
      //     password: 'asd',
      //   },
      //   {
      //     name: 'Cupcake',
      //     login: 'asdasd',
      //     password: 'asd',
      //   },
      //   {
      //     name: 'Gingerbread',
      //     login: 'asdasd',
      //     password: 'asd',
      //   },
      //   {
      //     name: 'Jelly bean',
      //     login: 'asdasd',
      //     password: 'asd',
      //   },
      // ]
    },

    itr(item){
      if (this.dialog!=true){
        this.$root.dialogredirect=true
        this.$parent.$options.methods.redirectto(item.name)
      }
    },

    editItem (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      axios.post("http://127.0.0.1:8000/deluser/", {"login":item.login}, {headers:{"X-CSRFTOKEN": this.$root.token}})
      const index = this.desserts.indexOf(item)
      confirm('Вы действительно хотите удалить сотрудника?') && this.desserts.splice(index, 1)
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save () {
      if (this.editedIndex > -1) {
        console.log(this.desserts[this.editedIndex].login)
        params = {
          "name": this.editedItem.name,
          "login": this.editedItem.login,
          "pass": this.editedItem.password,
          "prev_login":this.desserts[this.editedIndex].login
        }
        axios.post("http://127.0.0.1:8000/editUser/", params, {headers:{"X-CSRFTOKEN": this.$root.token}})
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
      } else {
        params = {
        "name": this.editedItem.name,
        "login": this.editedItem.login,
        "pass": this.editedItem.password,
        "kafname": this.$root.kafname
        }
        axios.post("http://127.0.0.1:8000/createUser/", params, {headers:{"X-CSRFTOKEN": this.$root.token}})
        this.desserts.push(this.editedItem)
      }
      this.close()
      console.log(this.editedItem)
      
    },
  },
  template: `
  <v-data-table
      :headers="headers"
      :items="desserts"
      sort-by="name"
      class="elevation-1"
      @click:row="itr"
    >
      <template v-slot:top>
        <v-toolbar flat color="rgba(0,0,0,.03)">
          <v-toolbar-title>Список сотрудников кафедры</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <button type="button"
                v-bind="attrs"
                v-on="on"
                class="btn btn-outline-primary dok-button"
              >Добавить сотрудника</button>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">Добавить сотрудника</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-text-field v-model="editedItem.name" label="ФИО"></v-text-field>
                  <v-text-field v-model="editedItem.login" label="Логин" :rules="rulesLogin"></v-text-field>
                  <v-text-field v-model="editedItem.password" label="Пароль" :rules="rulesPassword"></v-text-field>
                  </div>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Закрыть</v-btn>
                <v-btn color="#007bff" text @click="save">Сохранить</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
  `
})


  const addIPurl = "http://78.24.220.66:9000/createplan/"
  const addRateurl = "http://78.24.220.66:9000/createratinghome/"
  const addDocurl ="http://78.24.220.66:9000/nagruzkaSave/"
  const urlpar = "http://78.24.220.66:9000/rating/profilerating"
  const urlpar1 = "http://78.24.220.66:9000/rating/profileplace"

  new Vue({
    el: '#app',
    delimiters:['{','}'],
    vuetify: new Vuetify(),
    data:{

      token:"",

      dialogredirect: false,
      itemsIpYear:[],
      itemsRateYear:[],
      userredirect:"",

      kafname:document.getElementById("kafname").value,
      plfa:"",
      planfact:["Планируемая","Фактическая"],
      yearIP:"",
      yearRate:"",
      yearDoc:"",
      menu: false,
      menuRate: false,
      menuDoc:false,
      items:[],
      itemsRate:[],
      itemsDoc:[],
      dis:false,
      snackbar: false,
      buttontext:"Сохранить изменения",
      text: 'My timeout is set to 2000.',
      timeout: 2000,
    },
    methods:{
      redirectto(fioredirect){
        pathpost="http://127.0.0.1:8000/"
        axios.post(pathpost, fioredirect).then((response) => {
          itemsIpYear=response.data.Ip
          itemsRateYear=response.data.Rate
          userredirect=response.data.username
        })
      },
      redtoIP(item){
        window.location.href = "http://127.0.0.1:8000/plan/"+ this.userredirect + "/" + item
      },
      redtoRate(item){
        window.location.href = "http://127.0.0.1:8000/rating/rate_otsenka/"+ this.userredirect + "/" + item
      },
      save(event) {
        this.dis=true
        this.buttontext="Загрузка таблицы..."
        form = event.path[2];
        var formData = new FormData(form);
        var pathpost = event.path[2].action
        axios.post(pathpost, formData).then((response) => {
        this.dis=false
        this.buttontext="Сохранить изменения"
        this.text=response.data
        this.snackbar=true
        })
        .catch((errors) => {
          this.dis=false
          this.buttontext="Сохранить изменения"
          this.text="Ошибка соединения"
          this.snackbar=true
          console.log(errors)
        })
      },
      addIP(event){
        this.menu = false
        var formData = new FormData(event.path[3]);
        axios.post(addIPurl, formData).then((response) => {
        this.dis=false
        this.text=response.data[0].text
        this.snackbar=true
        if (this.text == "План успешно создан"){
          this.items.push({"year":this.yearIP,"href":response.data[0].href})
        }
        })
        .catch((errors) => {
            this.dis=false
            this.text="Ошибка соединения"
            this.snackbar=true
            console.log(errors)
        })


      },
      addRate(){
        this.menuRate = false
        var formData = new FormData(event.path[3]);
        axios.post(addRateurl, formData).then((response) => {
        this.dis=false
        this.text=response.data[0].text
        this.snackbar=true
        if (this.text == "Рейтинг успешно сформирован"){
          this.itemsRate.push({"year":this.yearRate,"href":response.data[0].href})
        }
        })
        .catch((errors) => {
            this.dis=false
            this.text="Ошибка соединения"
            this.snackbar=true
            console.log(errors)
        })
      },
      addDoc(){
        this.menuDoc = false
        var formData = new FormData(event.path[3]);
        axios.post(addDocurl, formData).then((response) => {
        this.dis=false
        this.text=response.data[0].text
        this.snackbar=true
        if (this.text == "Нагрузка успешно добавлена"){
          this.itemsDoc.push({"year":this.yearDoc,"kafname":response.data[0].kafname})
        }
        })
        .catch((errors) => {
            this.dis=false
            this.text="Ошибка соединения"
            this.snackbar=true
            console.log(errors)
        })
      },
    }
  })

</script>
{% endblock %}
