{% extends "base.html" %}
{%load static%}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static "/css/realtables.css" %}" />
    <link rel="stylesheet" href="{% static "/css/rate_otsenka.css" %}" />
    <script type="text/javascript" src="{% static "/js/statich.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/shaper.js" %}"></script>
</head>
<body>
    <div class="content active">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="palka1" class="centre-buttons">
                    <a role="button" class="button-block button-mr"><button>Подготовить документ </button></a>
                    <a role="button" class="button-block button-mr"><button>Иные кнопки управления</button></a>
                    <a role="button" class="button-block button-dots"><button>...</button></a>
                </div>
                <div class="more-rate">
                    <div class=" more1-width">
                        <h6>Количество отработанных месяцев</h6> 
                    </div>
                    <div class="more2">
                        <div class="pole pole-width"><input></div>
                    </div>
                </div>
                <div class="zagolovok" id="palka2">
                    <p>Суммарные показатели рейтинговой оценки</p>
                </div>
                <!-- <div class="more-rate">
                    <div class=" more1-width">
                        <h6>Количество отработанных месяцев</h6>
                        <h6>Количество отработанных месяцев</h6>
                        <h6>Количество отработанных месяцев</h6>
                        <h6>Количество отработанных месяцев</h6>
                    </div>
                    <div class="more2">
                        <div class="pole pole-width"><input></div>
                        <div class="pole pole-width"><input></div>
                        <div class="pole pole-width"><input></div>
                        <div class="pole pole-width"><input></div>
                    </div>
                </div> -->
                <div class="more-rate">
                    <div class="table-responsive table-width" >
                        <table class="table table-bordered table-hover " data-tablesaw-mode="columntoggle" data-tablesaw-minimap>
                            <tr>
                              <th>Учебная работа </th>
                                <td><input class="input-width"></td>
                            </tr>
                            <tr>
                              <th>Организационно-методическая работа</th>
                              <td><input class="input-width"></td>
                            </tr>
                            <tr>
                              <th>Подготовка учебно методических материалов</th>
                              <td><input class="input-width"></td>
                            </tr>
                            <tr>
                                <th>Педагогический контроль</th>
                                <td><input class="input-width"></td>
                              </tr>
                        </table>
                    </div>
                    <div class="more-rate ml-5">
                        <div class=" more1-width">
                            <h6>Сумма рейтинговых баллов</h6> 
                        </div>
                        <div class="more2">
                            <div class="pole pole-width"><input></div>
                        </div>
                    </div>
                </div>
                <div class="zagolovok" id="palka2" onclick="vision1()">
                    <p>Учебная работа</p>
                </div>
                <div class="table-responsive" id="table-1" >
                    <table class="table table-bordered table-hover " data-tablesaw-mode="columntoggle" data-tablesaw-minimap>
                      <tr>
                        <th>Показатель</th>
                        <th>Значение</th>
                        <th>Баллы</th>
                      </tr>
                        <tr>
                            <td>Объем учебной нагрузки</td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                        <tr>
                            <td>Соотношение учебной аудитоной нагрузки к общей учебной нагрузке более 70%</td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                        <tr>
                            <td>Проведение занятий с сотрудниками практических подразделений</td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                    </table>
                    <input type="submit" value="Поcчитать и сохранить " class="sohr" />
                </div>
                
                <div class="zagolovok" id="palka2" onclick="vision2()">
                    <p>Организационно методическая работа</p>
                </div>
                <div class="table-responsive" id="table-2" >
                    <table class="table table-bordered table-hover " data-tablesaw-mode="columntoggle" data-tablesaw-minimap>
                      <tr>
                        <th>Показатель</th>
                        <th>Значение</th>
                        <th>Подтверждающие данные</th>
                        <th>Баллы</th>
                      </tr>
                        <tr>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                        <tr>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                        <tr>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                    </table>
                    <input type="submit" value="Поcчитать и сохранить " class="sohr" />
                </div>
                
                <div class="zagolovok" id="palka2" onclick="vision3()">
                    <p>Подготовка учебно-методич еских материалов</p>
                </div>
                <div class="table-responsive" id="table-3" >
                    <table class="table table-bordered table-hover " data-tablesaw-mode="columntoggle" data-tablesaw-minimap>
                      <tr>
                        <th>Показатель</th>
                        <th>Соавторство</th>
                        <th>ДГСК</th>
                        <th>Баллы</th>
                      </tr>
                        <tr>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                        <tr>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                        <tr>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                    </table>
                    <input type="submit" value="Поcчитать и сохранить " class="sohr" />
                </div>
                
                <div class="zagolovok" id="palka2" onclick="vision4()">
                    <p>Педагогический контроль</p>
                </div>
                <div class="table-responsive" id="table-4">
                    <table class="table table-bordered table-hover " data-tablesaw-mode="columntoggle" data-tablesaw-minimap>
                      <tr>
                        <th>Показатель</th>
                        <th>Значение</th>
                        <th>Подтверждающие данные</th>
                        <th>Баллы</th>
                      </tr>
                        <tr>
                            <td>Проведение открытых показательных занятий</td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                        <tr>
                            <td>Результаты контрольных посещений занятий при общей удовлетворительной оценке занятия</td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                        <tr>
                            <td>Результаты контрольных посещений занятий при общей отрицательной оценке занятия</td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                        <tr>
                            <td>Срыв занятия</td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                        <tr>
                            <td>Не своевременное прибытие на занятие без уважительных причин</td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                            <td><input class="input-width"></td>
                        </tr>
                    </table>
                    <input type="submit" value="Поcчитать и сохранить " class="sohr" />
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="left-float">
        <h2>Рейтинговая оценка</h2>
    </div>
    <script>
       function vision4(){
           let e = document.getElementById("table-4");
           if (e.style.display == "none"){
               e.style.display = "block";
           } else {
               e.style.display = "none";
           }
       } 
       function vision3(){
           let e = document.getElementById("table-3");
           if (e.style.display == "none"){
               e.style.display = "block";
           } else {
               e.style.display = "none";
           }
       }
       function vision2(){
           let e = document.getElementById("table-2");
           if (e.style.display == "none"){
               e.style.display = "block";
           } else {
               e.style.display = "none";
           }
       }
       function vision1(){
           let e = document.getElementById("table-1");
           if (e.style.display == "none"){
               e.style.display = "block";
           } else {
               e.style.display = "none";
           }
       }
    </script>
</body>
{% endblock %}