{% extends "base.html" %}
{%load static%}
{% block content %}
<html>
<head>
    <link rel="stylesheet" href="{% static "/css/sotr_umr.css" %}" />
    <link rel="stylesheet" href="{% static "/css/fonts.googleapis.css" %}" />
    <!-- <link rel="stylesheet" href="{% static "/css/materialdesignicons.min.css" %}" /> -->
    <link rel="stylesheet" href="{% static "/css/materialdesignicons.min.css" %}" />
    <link rel="stylesheet" href="{% static "/css/vuetify.min.css" %}" />

    <script src="{% static "/js/apexcharts.js" %}"></script>
    <script src="{% static "/js/vue-apexcharts.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/graph.js" %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script> -->
    <script src="{% static "/js/vue.js" %}"></script>
    <script src="{% static "/js/axios.js" %}"></script>
    <script src="{% static "/js/vuetify.js" %}"></script>


    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

</head>
<body>
  <div class="content active"  id="app" data-app>
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="flex-block">
                <div class="graph-block">
                  <div class="row pr-3 pl-3">
                    <v-select :items="resultKafGraph" label="Кафедра" standard @change="onChangeGraph($event)" v-model="kafGraph"></v-select>
                    <v-select :items="dolzhnost" label="Должность" standard @change="onChangeGraph($event)" v-model="dolGraph"></v-select>
                    <v-text-field class="anim" label="Введите год" :rules="rules" hide-details="auto" standard @change="onChangeGraph($event)" v-model="yearGraph"></v-text-field>
                    <v-btn @click="getRatingAllCafedras()">Рейтинг по кафедрам</v-btn>
                  </div>
                  <apexchart width="100%" height="800px" type="bar" :options="options" :series="series"></apexchart>
                </div>
            </div>
        </div>
        <div class="col-12">
          <div class="cake">
            <supertable></supertable>
          </div>
        </div>
      </div>
    </div>
</div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script> -->

    <script id='INLINE_PEN_JS_ID'>


Vue.component('supertable',{
  delimiters:['##','##'],
  data: () => ({
    rules: [
      value => !!value || ' ',
      value => (value && value.length == 4) || '4 цифры'
    ],
    search: '',
    headers: [
      { text: 'ФИО', align: 'start', value: 'fio' },
      { text: 'Сумма баллов', value: 'summ' },
      { text: 'Кафедра', value:'kafedra' },
      { text: 'Должность', value:'dolzhnost' },
      { text: 'Место по университету', value: 'unikplace' },
      { text: 'Место по должности', value: 'dolzhnostplace' },
      { text: 'Место по кафедре', value: 'kafedraplace' }
    ],
    desserts: []
  }),
  methods: {
    updateTable(value) {
      console.log(value)
      axios.get("http://" + document.location.host + "/rating/ratingTable/", {params: {year:value}}).then(response => {
        this.desserts=response.data
      })
    }
  },
  template: `
    <v-card style="display:flex; flex-direction:column;">
      <v-card-title>
          <p class="pDataHeader">Рейтинг по сотрудникам за</p>
          <v-text-field label="Введите год" :rules="rules" hide-details="auto" standard @change="updateTable($event)" style="padding-right:10px"></v-text-field>
          <p class="pDataHeader">год</p>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Поиск"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        multi-sort
        :headers="headers"
        :items="desserts"
        :search="search"
      ></v-data-table>
    </v-card>
  `,
})





      const urlkaf = "http://" + document.location.host + "/rating/kafedras"
      const urlman = "http://" + document.location.host + "/rating/profiles"
      const urlyear ="http://" + document.location.host + "/rating/years"
      const urlpar = "http://" + document.location.host + "/rating/profilerating"
      const urlpar1 = "http://" + document.location.host + "/rating/profileplace"
      const urlparkaf = "http://" + document.location.host + "/rating/graphkafedra"
      const urlgraph = "http://" + document.location.host + "/rating/graph"
      const urlgraphMan = "http://" + document.location.host + "/rating/profilesfilter"

      Vue.component('apexchart', VueApexCharts)


      var app = new Vue({
        delimiters:['{','}'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
          kaf: "",
          man: "",
          year: "",
          dolzhnost: ["Все должности", "профессор", "преподаватель", "доцент", "нач.кафедры", "зам.нач.кафедры", "ст.преподаватель"],
          resultKaf: [],
          resultKafGraph:[],
          resultMan: [],
          resultYear: [],
          resultParamsTable1: [],
          resultParamsTable2: [],

          yearGraph:"",
          dolGraph:"",
          kafGraph:"",


          rules: [
            value => !!value || ' ',
            value => (value && value.length == 4) || '4 цифры'
          ],

          series: [{
                          name: 'Учебная работа',
                          data: []
                        }, {
                          name: 'Организационно методическая работа',
                          data: []
                        }, {
                          name: 'Подготовка учебно-методических материалов',
                          data: []
                        }, {
                          name: 'Педагогический контроль',
                          data: []
                        }],

          options: {
            chart: {
              type: 'bar',
              height: 'auto',
              width:'100%',
              stacked: true,
              toolbar: {
                show: true
              },
              zoom: {
                enabled: true
              }
            },
            responsive: [{
              options: {
                legend: {
                  position: 'bottom',
                  offsetX: -10,
                  offsetY: 0
                }
              }
            }],
            plotOptions: {
              bar: {
                horizontal: false,
              },
            },
            xaxis: {
              tickPlacement: 'on',
              categories: [],
              labels: {
                show: true,
                rotate: -90,
                rotateAlways: true,
                minHeight: 150,
                maxHeight: 300,
                }
            },
            legend: {
              horizontalAlign: 'left',
              width: "100%",
              position: 'top',
            },
            fill: {
              opacity: 1
            }
            },
        },
        methods: {
          updateTheme(e) {
            this.options = {
              xaxis: {
                categories: e
              }
            }
          },

          updateSeries(e) {
            this.series = e
          },

          onChangeGraph(event){
            if (this.yearGraph!="" && this.dolGraph!="" && this.kafGraph!=""){
              axios.get(urlgraph, {params: {kafedra:this.kafGraph,dolzhnost:this.dolGraph,year:this.yearGraph}}).then(response => {
                this.updateSeries(response.data)
                console.log(response.data)
              })
              axios.get(urlgraphMan, {params: {kafedra:this.kafGraph,dolzhnost:this.dolGraph,year:this.yearGraph}}).then(response => {
                var fullFio=[]
                var fio=[]
                console.log(response.data)
                response.data.forEach(element => {
                  fullFio.push(element.fullname)
                });
                fullFio.forEach(element => {
                  var t = element.split (' ');
                  fio.push(t [0] + ' ' + t [1].charAt(0) + '. ' + t [2].charAt (0) + '.')
                });
                console.log(fio)
                this.updateTheme(fio)
              })
            }
          },
          getRatingAllCafedras(){
            if (this.yearGraph != ''){
              axios.get("http://" + document.location.host + "/rating/graph", {params: {kafedra:'Рейтинг по кафедрам',year:this.yearGraph}}).then(response => {
              console.log(response.data)
              this.updateSeries(response.data)
            })
            axios.get("http://" + document.location.host + "/rating/kafedras/").then(response => {
              var fio=[]
              console.log(response.data)
              response.data.forEach(element => {
                fio.push(element.fullname)
                console.log(element.fullname)
              });
              this.updateTheme(fio)
            })
            }
            else{
              let qwer = event.path[2].children[2]
              console.log()
              qwer.classList.add('active');
              setTimeout(() => qwer.classList.remove('active'), 1000);
              // setTimeout(,1000);
            }
          }
        },

        mounted() {
          axios.get(urlkaf).then(response => {
            // this.resultKaf = response.data;
            this.resultKafGraph.push("Все кафедры")
            response.data.forEach(element => {
              this.resultKaf.push(element.fullname)
              this.resultKafGraph.push(element.fullname)
            });
          })
        },
      });

    </script>
</body>
</html>
{% endblock %}
