{% extends "base.html" %}
{%load static%}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static "/css/spravka.css" %}" />
</head>

<div class="content active">
    <div class="spravka">
        <h1>Справка</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 block">
                <div class="card_rounded">
                    <div class="card-header">
                        <h3>1. Для начала</h3>
                    </div>
                    <div class="card-body card-body-alt">
                        <p>1) Для того чтобы работать с нашей системой вы должны
                            <b>аутентифицироваться </b>
                        </p>
                        <p>2) Вы должны помнить свой <b>логин</b> и <b>пароль</b> для успешного
                            входа
                        </p>
                        <p>3) Никому не говорите свой <b>пароль</b> не под каким
                             предлогом
                        </p>
                    </div>
                </div>
                <div class="card_rounded">
                    <div class="card-header">
                        <h3>3. Работа с документами </h3>
                    </div>
                    <div class="card-body card-body-alt">
                        <p>1) Чтобы <b>изменить/составить</b>  свой документ нажмите на иконку
                            документа <img class="doc" src="{% static "admin1/images/doc.png" %}"> в вашем каталоге и вы перейдете в меню заполнения
                            документа
                        </p>
                        <p>2) Вы увидите шапку документа, которую нужно вам заполнить, а также основные кнопки:</p> 
                        <p><b>сформировать Индивидуальный план”</b>" при нажатии на ваш компьютер скачивается docx документ с данными из всех таблиц</p>
                        <p><b>"заполнить планируемую нагрузку"</b>(при нажатии заполняется планируемая учебная нагрузка, для ее работы необходимо чтобы начальник кафедры загрузил exel документ установленного образца).</p>   
                        <p><b>"заполнить фактическую нагрузку"</b>(при нажатии заполняется фактическая учебная нагрузка, для ее работы необходимо чтобы начальник кафедры загрузил exel документ установленного образца).</p>   
                        <p><b>"сформировать рейтинг”</b> при нажатии формируется рейтинговая оценка исходя из данных в ИП (посмотрите все ли данные в таблице методической работы введены правильно в соответствии с приказом)</p>  
                        <p><b>"загрузить данные из .docx ”</b> при нажатии выберите файл с заполнены ИП и дальше нажмите на облачко <img class="doc" src="{% static "admin1/images/down.png" %}">  , страница перезагрузится и данные будут занесены в базу</p>   
                        </p>
                        <p>3) Ниже находится переключаемая панель с таблицами ИП, при нажатии на название, снизу появляется нужная таблица.</p>
                        <img class="forma2 "src="{% static "admin1/images/forma2.png" %}">
                        <p>На каждом блоке присутствует кнопка <b>"сохранить"</b> , ее необходимо нажать что бы ваши данные сохранились (после сохранения появляется надпись «успешно сохранено. Проверьте правильность ввода, 
                            <b>дробные числа вводятся через запятую</b>.</p>
                        <!-- <img src="{% static "admin1/images/sohr.png" %}"> -->
                    </div>
                </div>
                <div class="card_rounded">
                    <div class="card-header">
                        <h3>6. Образцы документов для загрузки </h3>
                    </div>
                    <div class="card-body card-body-alt">
                        <p>Обратите внимание, отчет или расчет должен находиться на 1 листе EXEL документа, не иметь опечаток , все толбцы должны совпадать с образцом!(Итоговые стобцы должны начинаться с "Фактически выполненная..." или "Плановая")</p>
                        <p>1) Документ планируемой учебной нагрузки <a class="ml-1 btn btn-sm btn-light badge-pill" href="{%url 'exelobr'%}">ЗАГРУЗИТЬ</a></p>
                        <p>2) Документ фактической учебной нагрузки <a class="ml-1 btn btn-sm btn-light badge-pill" href="{%url 'exelobrfact'%}">ЗАГРУЗИТЬ</a></p>

                        <p>3) Документ готового ИП для внесения в базу всех таблиц (кроме учебной нагрузки) <a class="ml-1 btn btn-sm btn-light badge-pill" href="{%url 'docxobr'%}">ЗАГРУЗИТЬ</a></p>

                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 block">
                <div class="card_rounded">
                    <div class="card-header">
                        <h3>2. Начало работы</h3>
                    </div>
                    <div class="card-body card-body-alt">
                        <p>1) После аутентификации вы можете увидеть слева два блока.
                              На первом из них будут отображены ваши индивидуальные планы, 
                              которые вы можете использовать, и результаты рейтинговой.
                        </p>
                        <p>2) Чтобы добавить новый ИП за определенный год, воспользуйтесь соответствующей формой. </p>
                        <img src="{% static "admin1/images/fomra1.png" %}">
                        <p> 3)В блоке справа необходимо заполнить данные о себе. Они необходимы для генерации документов и рейтинговой оценки.
                        </p>
                    </div>
                </div>
                <div class="card_rounded">
                    <div class="card-header">
                        <h3>4. Продолжаем с таблицами</h3>
                    </div>
                    <div class="card-body card-body-alt">
                        <p>1)Всю планируемую нагрузку можно заполнить нажав кнопку <b>"заполнить
                            планируемую нагрузку"(3.2)</b> и изменять их не нужно, однако
                            фактическую работу вам потребуется ввести самому, и в этом вам поможет адаптивный
                            список подсказок для большинства полей ввода </p>
                        <p>2)Кнопки <b>"плюсов"</b> и <b>"минусов"</b> ,
                               позволяют вам добавлять строки,если их нехватает и удалять,
                                если они вам не нужны
                        </p>
                        <img src="{% static "admin1/images/normplus.png" %}" class="dolbpic1">
                        <img src="{% static "admin1/images/normminus.png" %}" class="dolbpic2">
                    </div>
                </div>
                <div class="card_rounded">
                    <div class="card-header">
                        <h3>5. Рейтинговая оценка </h3>
                    </div>
                    <div class="card-body card-body-alt">
                        <p>1)Зайдя в блок рейтинговой оценки, вы увидите сводную таблицу по всем показателям,
                            где сумма баллов зависит от размера ставки и количества отработанных месяцев.
                            Вам необходимо заполнить все таблицы в панели, исходя из достижений за год.</p>
                        <p>2)Если данные в разделе «Подготовка учебно-методических материалов» не отобразились,
                            проверьте индивидуальный план за этот год, отмечена ли галочка в пункте «Включить в
                            рейтинг» и правильно ли назван пункт
                        </p>
                        <p>
                            3) (в соответствии с приказом О внесении изменений в Положение о рейтинговой оценке учебной
                            деятельности профессорско-преподавательского состава кафедр Московского университета МВД России
                            имени В.Я. Кикотя и его филиалов, утвержденное приказом  Московского университета МВД России имени
                            В.Я. Кикотя от 28 июня 2018 г. № 851)
                        </p>
                    </div>
                </div>
                <div class="card_rounded">
                    <div class="card-header">
                        <h3>6. Для начальников кафедр и сотрудников учебного управления. </h3>
                    </div>
                    <div class="card-body card-body-alt">
                        <p>
                            1)На главной странице, помимо общих блоков, вы увидите блок с документами учебной нагрузки, и таблицу управления сотрудниками кафедры.
                            Чтобы добавить нагрузку за определенный год нажмите «Добавить документ», ведите год и вид нагрузки, подкрепите файл и нажмите сохранить. 
                            
                        </p>
                        <img class="form3" src="{% static "admin1/images/form3.png" %}">
                        <p>
                            2) С помощью таблицы управления сотрудниками можно, добавить, изменить/посмотреть (в т.ч пароли, нужна нажать на карандаш) учетные данные или удалить сотрудника. 
                        </p>
                        <img class="form4" src="{% static "admin1/images/form4.png" %}">
                        <p>
                            3)А также перейти на ИП или рейтинг за определенный год, нажав на его ФИО в таблице.
                        </p>
                        <img class="form5" src="{% static "admin1/images/form5.png" %}">
                    </div>
                </div>
                <!-- <div class="card_rounded">
                    <div class="card-header">
                        <h3>6. chetotam chetotam</h3>
                    </div>
                    <div class="card-body card-body-alt">
                        <p>1) chetotam chetotam chetotam chetotam chetotam chetotam chetotam chetotam </p>
                        <p>1) chetotam chetotam chetotam chetotam chetotam chetotam chetotam chetotam </p>
                        <p>1) chetotam chetotam chetotam chetotam chetotam chetotam chetotam chetotam</p>
                        <p>1) chetotam chetotam chetotam chetotam chetotam chetotam chetotam chetotam</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
