body {
  color: #8b8b8b;
  background-color: #fefefe;
}
.rounded {
  margin-bottom: 20px;
  border-radius: 10px !important;
}
header {
  transition: all 0.15s linear;
}

header h4 {
  color: #F6DC76;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #F6DC76;
  
}
.navbar {
  padding: 20px 30px;
  background-color: #1B2F55;
  transition: all 0.15s linear;
  font-weight:600;
}

.navbar-brand img {
  margin-left: 1em;
  width: 2em;
  height: 2.5em;
}

.nav-text {
  color:#888;
}
.navbar-collapse {
  flex-grow: 0;
}
#sidebar-toggle {
  text-decoration:none;
  color:#F6DC76;
  font-weight:600;
}
#sidebar-toggle.active {
  color:#F6DC76;
}
#sidebar-toggle .sidebar-bars span {
    width: 22px;
    height: 4px;
    position: relative;
    display: block;
    margin-bottom: 3px;
    background-color: #007bff;
    border-radius: 3px;
    transition: all .2s linear;
    top: 0;
}
#sidebar-toggle .sidebar-bars .line-2 {
    opacity: 0;
    background-color: #F6DC76;
}
#sidebar-toggle .sidebar-bars .line-1 {
    transform: rotate(45deg);
    top: 8px;
    background-color: #F6DC76;
}
#sidebar-toggle .sidebar-bars .line-3 {
    transform: rotate(-45deg);
    top: -6px;
    background-color: #F6DC76;
}

#sidebar-toggle.active .sidebar-bars .line-2 {
    opacity: 1;
    background-color: #F6DC76;
}
#sidebar-toggle.active .sidebar-bars .line-1 {
    transform: rotate(0);
    top: 0px;
    background-color: #F6DC76;
}
#sidebar-toggle.active .sidebar-bars .line-3 {
    transform: rotate(0);
    top: 0px;
    background-color: #F6DC76;
}


.user {
  cursor: pointer;
  background-color: transparent;
  border: 0 none;
  outline: 0 none;
}
.user:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}
.user-img {
  position: relative;
}
.user-img .badge {
  position: absolute;
  right: 5px;
  bottom: -1px;
  font-size: 8px;
  text-align: center;
  line-height: 1.5;
  padding: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  font-weight: 400;
}
.user-name {
  line-height: 16px;
  color: #F6DC76;;
}


.user-name span {
  font-size: 14px;
  color: #8b8b8b;
}
.user.dropdown-toggle::after {
  margin-left: 15px;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
}
.user-menu {
  margin-top: 15px;
  border: 0;
}
#sidebar {
  position: fixed;
  width: 25%;
  height: 100%;
  top: 0;
  padding-top: 90px;
  z-index: 2;
  left:0;
  transition:all 0.15s linear;
  background-color: #2F5191 !important;
}
.sidebar-wrap {
  height: 100%;
  overflow-y: auto;

}

.dropdown-menu{
  left: -30px !important;
}
#sidebar .navbar-nav .dropdown-menu {
  position: static !important;
  transform: none !important;
  border: 0;
}
#sidebar .nav-link {
  padding: 18px 30px;
  font-weight: 500;
  color: #F6DC76;
}
#sidebar .nav-item i {
  font-size: 18px;
  width: 25px;
  /*color: #ebebeb;*/
}
#sidebar .dropdown-item {
  padding: 10px 40px;
  color: #1B2F55;
}
.content {
  padding-top: 90px;
  padding-left: 25%;
  transition:all 0.15s linear;
}

#sidebar.active {
  left:-25%;
}
.content.active {
  padding-left:0;
}

@media screen and (min-width: 1366px) {
  #sidebar {
    width: 18%;
  }
  .content {
    padding-left: 18%;
  }
  #sidebar.active {
    left:-18%;
  }
  .content.active {
    padding-left:0;
  }
}


/*Возможно это и будет работать если найти другой вариант удаления панели для юзера*/
/*@media screen and (max-width: 991px) {
  #sidebar {
    width: 100%;
    height: 100%;
    left:-100%;
  }
  .content {
    padding-left: 0;
  }
  #sidebar ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #sidebar ul li {
    flex: 1 0 25%;
  }
  #sidebar ul li a {
    padding: 5px 10px;
  }
  #sidebar ul li a i {
    display: none;
  }
  #sidebar.active {
  left:0;
}
.content.active {
  padding-left:0;
}
}*/

@media screen and (max-width: 575px) {
  #sidebar ul li {
    flex: 1 0 50%;
  }
}

/*.table.table-css{
  overflow: scroll;
}*/
.card-body.card-body-alt.dokumenti {
  display: block;
  max-height: 35em; 
  overflow: auto;
}

.card-body.info {
  max-height: 32.8em;
}
.card-body.info img{
  max-width: 14em;
  max-height: 10em;
}

.card-body.info h3{
  padding-top: 0.4rem;
  text-align: center;
  font-size: 20px;
}

.card-body.info a {
  /*margin-top: 1rem;*/
}

.image-block {
  text-align: center;
}


.button-block button {
  min-height: 2.7em;
  border: #1B2F55;
  margin-right: 1em;
  border-radius: 5px;
  background-color: #2F5191;
  color: #F6DC76;
  font-weight: bold;
}

.sohr  {
  height: 2.7em;
  border: #1B2F55;
  margin-top: 3.4em;
  margin-left: 0.5em;
  background-color: #2F5191;
  color: #F6DC76;
  width: 12em;
  border-radius: 5px;
  font-weight: bold;
  padding-right: 1em;
}


.table td button {
  width: 1em;
  height: 1em;
}

#thirdcol {
  width: 100%;
}

.blockd {
  
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  position: relative;

}

.navbar-toggler{
  color: #F6DC76;
}

#block-content{
  z-index: 1;
}


.spravka-button button {
  height: 2.7em;
  border: #1B2F55;
  margin-left: 0.5em;
  background-color: #2F5191;
  width: 12em;
  border-radius: 5px;
  font-weight: bold;
  padding-right: 1em;
  color: #F6DC76;
}

.prepodi_body{
  max-height: 15em;
  overflow: auto;
}

.reg {
  margin-top: 1em;
}

.prepod_reg {
  display: flex;
  flex-direction: row;
}

.reg_inputy{
  min-width: 65%;
  display: flex;
  flex-direction: column;
}

.reg_pole {
  display: flex;
  flex-direction: row wrap;
  align-items: baseline;
}

.reg_pole p {
  margin-right: 1em;
  order: 1;
  width: 4em;
}

.reg_pole input {
  margin-left: auto;
  order: 2;
  width: 20em;
}

.reg_knopka {
  display: flex;
  margin-left: 1em;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(0,0,0,.125)  ;
}



.sotrdob-button button{
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-left: 1em;
  border: #1B2F55;
  background-color: #2F5191;
  border-radius: 5px;
  font-weight: bold;
  color: #F6DC76;
  max-width: 10em;
}


@media screen and (max-width: 1190px){
  .reg_knopka{
    display: none;
  }

}


.reg_knopka_col{
  margin-bottom: 1em;
}
@media screen and (min-width: 1190px){
  .reg_knopka_col{
    display: none;
  }
}


.content-input{
  justify-content: center;
  margin: 0px !important;
}

.block-input{
  border: solid 1px rgba(0,0,0,.125);
  border-radius: 5px;
  max-width: 875px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.block-content{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-row input {
  margin-right: 10px;
}

.dok-button{
  order: 2;
  margin-left: auto;
}

.card-header{
  display: flex;
  flex-flow: row;
}

.white {
  color: #FFF ;
}

.white:hover {
  color: #fff;
  text-decoration: none;
}

.item-list{
  display: flex !important;
  flex-direction: row !important;
  background-color: rgb(0, 123, 255) !important;
  color: #fff !important;
  font-weight: 400;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.item-list:hover {
  background-color: rgb(3, 98, 199) !important;
}

.item-list img {
  padding-top: 5px;
  margin-right: 7px;
  height: 20px;
}
/* .res{

} */