.v-menu__content {
    width: 270px !important;
}

.v-toolbar__title {
    font-size: 1.75rem;
}

.card-height{
    min-height: 415px ;
}

.v-input--has-state.error--text{
    color: red;
}

.v-messages__message{
    color: red;
}