.v-menu__content {
    width: 270px !important;
}

.v-toolbar__title {
    font-size: 1.75rem;
}

.card-height{
    min-height: 415px ;
}

.v-input--has-state.error--text{
    color: red;
}

.v-messages__message{
    color: red;
}
.v-text-field--rounded>.v-input__control>.v-input__slot {
    padding: 0px !important;
}
.stavka{
    width: 100%;
}
.visluga{
    width: 100%;
}