.root {
    height: 100%;
}

.lay-out {
    height: 100% ;
}

.logo {
    width: 120px;
    height: 31px;
    margin: 16px 28px 16px 0;
    float: left;
  }

.logo img {
    width: 27px;
    height: 31px;
}  

.site-layout-background {
    background: #fff;
}

.content-block {
  background-color: #fff;
  padding-top: 20px !important;
}

.table-half{
  width: 47%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.ant-pagination{
  display: none;
}

.ant-tabs-tabpane-active {
  display: flex;
  flex-direction: row ;
}

.editable-row .ant-form-explain {
  position: absolute;
  font-size: 12px;
  margin-top: -4px;
}

.ant-table-wrapper {
  width: 100%;
  margin-bottom: 20px;
}