.btn-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.button-right{
    margin-left: auto; 
}

.flex-block{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.error--text{
    color: #ff5252 !important;
}

.sotr-block{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #dee2e6;
    min-width: 400px;
}

.sotr-select{
    margin-bottom: 20px;
    width: 60%;
}

.graph-block{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #dee2e6;
}

#graphic1{
    border: 1px solid #dee2e6;
    text-align: center;
}

.input-height{
    max-height: 67px;
}

.row .v-input {
    margin-right: 5px;
}

.anim.active {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }